<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>GeekWinterMarket</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">

<div th:replace="~{navigation :: navi(Home)}" />

<div class="d-flex">

    <div class="content p-4">

        <h2 class="mb-4">Пользователи</h2>

        <form th:action="@{/allUsers}" method="get">
            <input th:value="${word != null} ? ${word}" th:name="word" type="text" placeholder="Логин">
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>

        <div class="col-12 mb-2">
            <a class="btn btn-primary" th:href="@{/registration}">Добавить пользователя</a>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <table id="example" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ИД</th>
                        <th>Логин (Эл. почта)</th>
                        <th>Фамилия пользователя</th>
                        <th>Имя пользователя</th>
                        <th>Отчество пользователя</th>
                        <th>Роль</th>
                        <th>Телефон</th>
                        <th>Дата создания</th>
                        <th class="actions">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--                    Место для данных из БД-->
                    <tr th:each="users : ${listUsers}">
                        <th scope="row" th:text="${users.id}"></th>
                        <th scope="row" th:text="${users.email}"></th>
                        <th scope="row" th:text="${users.lastName}"></th>
                        <th scope="row" th:text="${users.firstName}"></th>
                        <th scope="row" th:text="${users.middleName}"></th>
                        <th scope="row" th:text="${users.roles}"></th>
                        <th scope="row" th:text="${users.phone}"></th>
                        <th scope="row" th:text="${users.createDate}"></th>
                        <td>
                            <a th:href="@{/users/edit/{id}(id = ${users.getId()})}" name="edit" type="submit">Редактировать</a>
                            <a th:href="@{/users/delete/{id}(id = ${users.getId()})}" name="delete" type="reset">Удалить</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

</body>
</html>