<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>GeekWinterMarket</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">

<div th:replace="~{navigation :: navi(Home)}" />

<div class="d-flex">

    <div class="content p-4">

        <h2 class="mb-4">Пользователи</h2>

        <form th:action="@{/users}" method="get">
            <input th:value="${word != null} ? ${word}" th:name="word" type="text" placeholder="Логин">
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>

        <div class="col-12 mb-2">
            <a class="btn btn-primary" th:href="@{/users/addUser}">Добавить пользователя</a>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <table id="example" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ИД</th>
                        <th>Логин</th>
                        <th>Имя пользователя</th>
                        <th>Фамилия пользователя</th>
                        <th>Роль</th>
                        <th>Эл. почта</th>
                        <th>Телефон</th>
                        <!--                        <th>Пароль</th>-->
                        <th class="actions">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--                    Место для данных из БД-->
                    <tr th:each="users : ${users}">
                        <th scope="row" th:text="${users.id}"></th>
                        <th scope="row" th:text="${users.userName}"></th>
                        <th scope="row" th:text="${users.firstName}"></th>
                        <th scope="row" th:text="${users.lastName}"></th>
                        <th scope="row" th:text="${users.roles}"></th>
                        <th scope="row" th:text="${users.email}"></th>
                        <th scope="row" th:text="${users.phone}"></th>
                        <!--                        <th scope="row" th:text="${users.getPassword()}"></th>-->
                        <td>
                            <a th:href="@{/users/edit/{id}(id = ${users.getId()})}" name="edit" type="submit">Редактировать</a>
                            <a th:href="@{/users/delete/{id}(id = ${users.getId()})}" name="delete" type="reset">Удалить</a>
                            <!--                            <button name="edit" type="submit">Редактировать</button>-->
                            <!--                            <button name="delete" type="reset">Удалить</button>-->
                            <!--<a th:href="@{/users/{id}(id = ${users.getId()})}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Редактировать"><i class="fa fa-fw fa-edit"></i></a>-->
                            <!--                            <a th:href="@{/users/delete/{id}(id = ${users.getId()})}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Удалить"><i class="fa fa-fw fa-trash"></i></a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                        <li th:each="i : ${#numbers.sequence(1, totalPage, 1)}">
                            <a th:class="page-link" th:text="${i}" th:classappend="${page == i ? 'active' : ''}" th:href="@{'/users/?page=' + ${i} + '&word=' + ${word}}"></a>
                        </li>
                        <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>